body {
    background-image: url("images/boys.png");
    background-size: 135%;
}

#container {
    width: 750px;
    margin: auto;
    background-image: url(images/twst.png);
    background-size: 135%;
}

header {
    padding: 40px;
    height: 40px;
    color: lightcyan;
}

nav {
    padding: 8px 40px;
    color: lightseagreen;
}

article {
    padding: 40px;
    min-height : 400px;
    color: slategray;
}

footer {
    padding: 40px;
    height: 40px;
    color: slategray;
}
